<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
	</head>
	<body>
		<div class="site">

			<input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
			<header class="site-header">
				<div class="site-branding">
					<img src="{{ site.baseurl }}/images/logo.png" alt="">
					<p class="site-title">{{ site.title }}</p>
				</div>

				<nav class="navigation main">
					<ul>
						<li><a class="fas fa-newspaper" href="{{ site.baseurl }}/">Home</a></li>
						<li><a class="fas fa-newspaper" href="{{ site.baseurl }}/dinning">Dinning</a></li>
						<li><a class="fas fa-user-secret" href="{{ site.baseurl }}/spa/">Spa</a></li>
						<li><a class="fas fa-envelope" href="{{ site.baseurl }}/activities/">Activities</a></li>
					</ul>
				</nav>
				
				<label id="nav-toggle-right" for="nav-main-toggle" class="fas nav-toggle right"><span>Menu</span></label>
			</header>
			<main class="site-content">
				{{content}}
			</main>
			<footer class="site-footer">
			
			</footer>
		</div>
	</body>
</html>